.divblock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    border: solid 2px red;
    background-color: aqua;
    color: blue;
    margin: auto;
}

.menublock ul{
display: flex;
width: 300px;
justify-content: space-around;
align-items: center;
}

.menublock ul li a{
    text-decoration: none;
    color: blue;
}

.menublock ul li{
    list-style: none;
}

img{
    height: 50px;
    width: 150px;
padding: 20px;
}